{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}

{% if user.is_authenticated %}
<p>Please login with an account that has access.</p>
{% else %}
<p>Please login to view.</p>
{% endif %}

{% endif %}

<div class="my-list">
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form | crispy }}

    <input class="btn btn-block my-btn" type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <a href="{% url 'password_reset' %}">
    <p class="my-3"> Lost password?</p>
  </a>
</div>

{% endblock content %}