{% extends 'base_generic.html' %}

{% block content %}

{% if validlink %}
<p>Enter your new password and confirm.</p>
<form action="" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.new_password1.errors }}
        <label for="id_new_password1">New password:</label>
      </td>
      <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
      <td>{{ form.new_password2.errors }}
        <label for="id_new_password2">Confirm password:</label>
      </td>
      <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Change my Password"></td>
    </tr>
  </table>
</form>
{% else %}
<h1>Password Reset failed</h1>
<p>The reset link was invalid, probaly it has been used. Please request another.</p>
{% endif %}

{% endblock content %}