<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Local Library - {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

  <body>
    <div class="container">
      <div class="row">

        <div class="col-sm-2">
          {% block sidebar %}
          <p>Xin chao <span class="font-weight-bold">{{ user.get_username }}</span></p>

          {% if user.is_authenticated %}
          <a class="btn btn-block btn-info" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
          {% else %}
          <a class="btn btn-block btn-info" href="{% url 'login' %}?next={{request.path}}">Login</a>
          <a class="btn btn-block btn-info" href="{% url 'register' %}">Register</a>
          {% endif %}

          {% if perms.catalog.can_mark_returned %}

          <hr />
          <p>For Staff Only</p>
          <ul>
            <li><a href="{% url 'all-borrowed' %}">All borrowed books</a></li>
          </ul>
          {% endif %}

          <hr />

          <ul class="sidebar-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'books' %}">All books</a></li>
            <li><a href="{% url 'avail_books' %}">On Shelf</a></li>
            <li><a href="{% url 'authors' %}">All authors</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'my-borrowed' %}">My books</a></li>
            {% endif %}

          </ul>

          {% endblock sidebar %}
        </div>

        <div class="col-sm-10">
          {% block content %}
          {% endblock content %}

          {% if is_paginated %}
          <div class='pagination'>
            <span class="page-links">
              {% if page_obj.has_previous %}
              <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
              {% endif %}
              <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_next %}
              <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
              {% endif %}
            </span>
          </div>
          {% endif %}

        </div>

      </div>
      <div class="text-center my-credit">
        Written with Django &copy; <strong>Nguyen Thanh Hung</strong>, 2020
      </div>
    </div>

  </body>

</html>