{% extends 'base_generic.html' %}

{% block title %}
Home Page
{% endblock title %}

{% block banner %}
<div class="jumbotron mt-5 mt-sm-2">
  <div class="my-list">
    <h1 class="display-4">Welcome to <br>Hung's Library!</h1>
    <hr class="my-4">

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="text-center">Here we have</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><a href="{% url 'books' %}">Books</a></th>
          <td class="so-lieu">{{ num_books }}</td>
        </tr>
        <tr>
          <th scope="row">Copies</th>
          <td class="so-lieu">{{ num_instances }}</td>
        </tr>
        <tr>
          <th scope="row"><a href="{% url 'avail_books' %}">Copies Available</a></th>
          <td class="so-lieu">{{ num_instances_available }}</td>
        </tr>
        <tr>
          <th scope="row"><a href="{% url 'authors' %}">Authors</a></th>
          <td class="so-lieu">{{ num_authors }}</td>
        </tr>
        <tr>
          <th scope="row">Genres</th>
          <td class="so-lieu">{{ num_genres }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card bg-light">
  <div class="card-body text-center">
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
  </div>
</div>

{% endblock banner %}

{% block extra_script %}
<script>
  document.getElementById("main-container").remove();
</script>
{% endblock extra_script %}