@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");

:root {
  --dark-green: #264653;
  --light-green: #2a9d8f;
  --my-yellow: #e9c46a;
  --light-orange: #f4a261;
  --dark-orange: #e76f51;
  --black-blue: #343a40;
  --bgPrimary: rgb(46, 185, 255);
  --bgSecondary: rgb(255, 235, 85);
  --textPrimary: hsl(156, 58%, 23%);
  --textSecondary: rgb(168, 214, 181);
  /* ------ */
  --brown-1: #cb997e;
  --brown-2: #ddbea9;
  --brown-3: #eddcd2;
  --brown-4: #fff1e6;
  --green-1: #a5a58d;
  --green-2: #b7b7a4;
  --green-3: #f0efeb;
}

body {
  background-color: var(--green-1);
  color: var(--textPrimary) !important;
}

.my-container {
  background-color: var(--green-3);
  min-height: 100vh;
  padding-top: 4rem !important;
  padding-bottom: 2rem !important;
}

.jumbotron .display-4 {
  text-align: center;
  font-family: "Rowdies", cursive;
  color: var(--textPrimary);
}
.tieu-de-page {
  text-align: center;
  font-family: "Rowdies", cursive;
}

.nav-bg {
  background-color: var(--brown-1);
}
.nav-link {
  &:hover {
    color: var(--green-3);
  }
}
.navbar-brand {
  &:hover {
    color: var(--green-3);
  }
}

.bg-success,
.bg-danger {
  color: #eee;
}

.bg-warning {
  color: #222;
}
.btn-center {
  display: block;
  width: max-content;
  margin: 0 auto;
}

.text-accor {
  color: var(--dark-green);
}

a {
  color: var(--dark-green);
}

.page-link {
  background-color: var(--brown-1);
  color: #eee;
}

.copies {
  margin-top: 20px;
  margin-left: 20px;
}

.helptext {
  color: #000;
  opacity: 0.8;
}

.my-list {
  max-width: 680px;
  margin: 0 auto;
}

footer {
  background-color: var(--brown-1);
  color: var(--textPrimary);
  padding: 1.1rem;
  letter-spacing: 0.1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.django {
  padding: 0.2em 0.5em;
  background-color: #245124;
  background-color: var(--textPrimary);
  color: white;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: initial;
}

.so-lieu {
  background-color: lightsteelblue;
  font-weight: bold;
  text-align: center;
}
.my-name {
  margin: 0.5em 0 0;
}
@media screen and (min-width: 450px) {
  .my-name {
    margin: 0 0.5em;
  }
}
