:root {
  --dark-green: #264653;
  --light-green: #2a9d8f;
  --my-yellow: #e9c46a;
  --light-orange: #f4a261;
  --dark-orange: #e76f51;
}

body {
  background-color: var(--dark-green);
  color: var(--dark-green);
}

.container {
  background-color: var(--my-yellow);
  min-height: 100vh;
  position: relative;
}

.btn {
  background-color: var(--light-orange);
}

a {
  color: var(--dark-green);
}

.page-link {
  background-color: var(--dark-green);
  color: #eee;
}

.my-credit {
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
  width: 600px;
  margin: 10px auto;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: None;
}

.copies {
  margin-top: 20px;
  margin-left: 20px;
}

.helptext {
  color: #000;
  opacity: 0.8;
}
