body {
  background-color: #eee;
}

.my-credit {
  padding-top: 50px;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: None;
}

.copies {
  margin-top: 20px;
  margin-left: 20px;
}

.no-link {
  text-decoration: none;
}

.helptext {
  color: #000;
  opacity: 0.8;
}
