{% extends 'base_generic.html' %}

{% block content %}

<h1>All Borrowed Books</h1>

<p>Only available to Librarians</p>

{% if object_list %}
<table class="table table-borderless">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Book</th>
      <th scope="col">Borrower</th>
      <th scope="col">Due date</th>
      <th scope="col">UId</th>
    </tr>
  </thead>
  {% for bookinst in bookinstance_list %}

  <tr>
    <td><a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a></td>
    <td>{{ bookinst.borrower }}</td>
    <td class="{% if bookinst.is_overdue %}text-danger{% endif %}">{{ bookinst.due_back }}</td>
    <td><a href="{% url 'renew-book-librarian' bookinst.id %}">{{ bookinst.id }} </a></td>
  </tr>
  {% endfor %}
</table>

{% else %}

{% endif %}

{% endblock content %}