{% extends 'base_generic.html' %}

{% block heading %}
{% block title %}
All Authors {% endblock title %}({{ num_of_authors }})
{% endblock heading %}

{% block content %}
<div>


  {% if perms.catalog.add_author %}
  <a class="btn btn-brown-1 btn-center" href="{% url 'author_create' %}">Create Author</a>
  {% endif %}

</div>

<hr>

<div class="my-list">
  <table class="table table-green-1 table-borderless table-hover">
    <thead class="bg-green-2">
      <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for author in author_list %}
      <tr class="border-bottom border-light">
        <th scope="row" class="align-middle">
          <a href="{% url 'author-detail' author.pk %}">{{ author }}</a>
        </th>

        <td class="d-flex justify-content-end">
          {% if perms.catalog.change_author %}
          <a href="{% url 'author_update' author.pk %}">{% include '../update_button.html' %}</a>
          {% endif %}

          {% if perms.catalog.delete_author %}
          <a href="{% url 'author_delete' author.pk %}">{% include '../delete_button.html' %}</a>
          {% endif %}
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock content %}