{% extends 'base_generic.html' %}

{% block content %}

<div class="row">
  <h1 class="col-md-8">Author: <span class="display-4">{{ author }}</span></h1>
  <div class="col-md-4 d-flex justify-content-end align-items-center">
    {% if perms.catalog.change_author %}
    <a href="{% url 'author_update' author.pk %}">{% include 'update_button.html' %}</a>
    {% endif %}
    {% if perms.catalog.delete_author %}
    <a href="{% url 'author_delete' author.pk %}">{% include 'delete_button.html' %}</a>
    {% endif %}
  </div>
</div>

<hr />


<p>
  {% if author.date_of_birth %}
  <strong>Born: </strong>{{ author.date_of_birth }}
  {% endif %}
  {% if author.date_of_death %}
  <strong class="ml-4">Died: </strong>{{ author.date_of_death }}
  {% endif %}
</p>


<h5 class="mb-3">Books by author</h5>

<table class="table">
  <thead class="bg-green-2">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
    </tr>
  </thead>

  {% for book in author.book_set.all %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td><a href="{% url 'book-detail' book.pk %}">{{ book }}</a></td>
  </tr>
  {% endfor %}

</table>

{% endblock content %}