{% extends 'base_generic.html' %}

{% block content %}

<div class="row">
  <h1 class="col-md-8">{{ author }}</h1>
  <div class="col-md-4">
    {% if perms.catalog.change_author %}
    <a href="{% url 'author_update' author.pk %}">{% include 'update_button.html' %}</a>
    {% endif %}
    {% if perms.catalog.delete_author %}
    <a href="{% url 'author_delete' author.pk %}">{% include 'delete_button.html' %}</a>
    {% endif %}
  </div>
</div>

<hr>
{% if author.date_of_birth %}
<p>Born: {{ author.date_of_birth }}</p>
{% endif %}

{% if author.date_of_death %}
<p>Died: {{ author.date_of_death }}</p>
{% endif %}

<h4>Books</h4>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book Title</th>
    </tr>
  </thead>

  {% for book in author.book_set.all %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td><a href="{% url 'book-detail' book.pk %}">{{ book }}</a></td>
  </tr>
  {% endfor %}

</table>

{% endblock content %}