{% extends 'base_generic.html' %}

{% block content %}

<h1>{% block title %}Your Borrowed Books{% endblock title %}</h1>
<hr />

{% if object_list %}

<table class="table table-borderless">
  <thead class="thead-dark">
    <tr>

      <th scope="col">Book</th>
      <th scope="col">Due date</th>
      <th scope="col"></th>
    </tr>
  </thead>

  {% for bookInst in object_list %}

  <tr class="border-bottom border-dark">
    <th scope="row"><a href="{% url 'book-detail' bookInst.book.pk %}">{{ bookInst.book.title }} </a></th>
    <td class="{% if bookInst.is_overdue %}text-danger{% endif %}">
      {{ bookInst.due_back }}<span class="text-muted ml-2">({{ bookInst.days_left }} days left)</span>
    </td>
    <td><a class="btn btn-primary" href="{% url 'return_a_book' bookInst.pk %}">Return</a></td>
  </tr>

  {% endfor %}

</table>

{% else %}

<p>You are currently borrowing no books. <a class="font-weight-bold" href="{% url 'avail_books' %}">Borrow some!</a></p>

{% endif %}

{% endblock content %}