{% extends 'base_generic.html' %}

{% block content %}

<h1>Borrowed Books</h1>
<hr />

{% if object_list %}

<table class="table table-borderless">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book</th>
      <th scope="col">Due date</th>
      <th scope="col"></th>
    </tr>
  </thead>

  {% for bookInst in object_list %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td><a href="{% url 'book-detail' bookInst.book.pk %}">{{ bookInst.book.title }} </a></th>
    <td class="{% if bookInst.is_overdue %}text-danger{% endif %}">{{ bookInst.due_back }}</td>
    <td><a class="btn" href="{% url 'return_a_book' bookInst.pk %}">Return</a></td>
  </tr>
  {% endfor %}

</table>

{% else %}

<p>You are currently borrowing no books.</p>

{% endif %}

{% endblock content %}