{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Renew: {{ book_instance.book.title }}</h1>
<p>Borrower: {{ book_instance.borrower }}</p>
<p{% if book_instance.is_overdue %}class="text-danger"{% endif %}>Due date: {{ book_instance.due_back }}</p>

  <form class="col-md-6" action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form | crispy }}
    </table>
    <input class="btn my-btn" type="submit" value="Renew">
  </form>

  {% endblock content %}